src/modIntegrador/wsdl/publishTransition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.neolog.com.br/cpl/publish/monitoring/transition/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.neolog.com.br/cpl/publish/monitoring/transition/">
	<wsdl:types>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" 
			elementFormDefault="qualified"
			targetNamespace="http://www.neolog.com.br/cpl/publish/monitoring/transition/">
			
			<xsd:simpleType name="monitorableType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="trip" />
					<xsd:enumeration value="invoice" />
					<xsd:enumeration value="document" />
				</xsd:restriction>
			</xsd:simpleType>
			
			<xsd:complexType name="monitorable">
				<xsd:sequence>
					<xsd:element name="monitorableCode" type="xsd:string" />
					<xsd:element name="monitorableType" type="tns:monitorableType"/>
					<xsd:element name="monitorableExtensions" minOccurs="0" nillable="true">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="monitorableExtension" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="key" type="xsd:string" />
												<xsd:choice>
													<xsd:element name="textValue" type="xsd:string" />
													<xsd:element name="floatValue" type="xsd:double" />
													<xsd:element name="integerValue" type="xsd:long" />
													<xsd:element name="instantValue" type="xsd:dateTime" />
													<xsd:element name="booleanValue" type="xsd:boolean" />
												</xsd:choice>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="publishTransition">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="monitorable" type="tns:monitorable"/>
						<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true" />
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="serviceSequence" type="xsd:int" />
						<xsd:element name="timestamp" type="xsd:dateTime" />
						<xsd:element name="status" type="xsd:int" />
						<xsd:element name="locationLatitude" type="xsd:double"
							minOccurs="0" nillable="true" />
						<xsd:element name="locationLongitude" type="xsd:double"
							minOccurs="0" nillable="true" />
						<xsd:element name="comments" minOccurs="0" nillable="true">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="comment" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="user" type="xsd:string" />
												<xsd:element name="content" type="xsd:string" />
												<xsd:element name="attachmentLink" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true" />
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="publishTransitionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="response" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="publishTransition">
		<wsdl:part name="parameters" element="tns:publishTransition" />
	</wsdl:message>
	<wsdl:message name="publishTransitionResponse">
		<wsdl:part name="parameters" element="tns:publishTransitionResponse" />
	</wsdl:message>
	
	<wsdl:portType name="publishTransitionServicePortType">
		<wsdl:operation name="publishTransition">
			<wsdl:input name="publishTransition" message="tns:publishTransition" />
			<wsdl:output name="publishTransitionResponse" message="tns:publishTransitionResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="publishTransitionServiceHttpBinding" type="tns:publishTransitionServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="publishTransition">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="publishTransition">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="publishTransitionResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="publishTransitionService">
		<wsdl:port binding="tns:publishTransitionServiceHttpBinding" name="publishTransitionServiceHttpPort">
			<wsdlsoap:address location="http://localhost:3000/publishTransition" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>